# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# '.workspace':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
'.editor:not(.mini)':
  'ctrl-d': 'editor:delete-line'

'.workspace .editor:not(.mini)':
  'ctrl-alt-down': 'editor:duplicate-lines'
  'alt-up': 'editor:move-line-up'
  'alt-down': 'editor:move-line-down'

'.platform-linux .editor':
  'ctrl-alt-shift-P': 'project-manager:toggle'

'.workspace .editor':
  'ctrl-l': 'go-to-line:toggle'
  'ctrl-g': 'editor:select-line'
